@use '../helpers/variables' as *;

@mixin respond($point) {
  $size: map-get($breakpoints, $point);

  @if $size != null {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @warn "No breakpoint found for `#{$point}`.";
  }
}