// Neutral
$ui-neutral-950: #0A0A0A;
$ui-neutral-800: #262626;
$ui-neutral-600: #525252;
$ui-neutral-500: #777777;
$ui-neutral-400: #A3A3A3;
$ui-neutral-200: #E5E5E5;
$ui-neutral-100: #F0F0F0;
$ui-neutral-50:  #FFFFFF;

// Blue
$ui-blue-700: #2F6382;
$ui-blue-500: #5B8DDE;
$ui-blue-200: #C9E9F4;

// Yellow / Orange（Accent）
$ui-yellow-400: #FEC631;
$ui-orange-500: #FF9C04;

// Brand
$ui-color-primary: $ui-blue-500;
$ui-color-primary-hover: $ui-blue-700;
$ui-color-primary-sub: $ui-blue-700;

// Secondary（次行動）
$ui-color-secondary: $ui-blue-200;

// Status
$ui-color-warning: $ui-yellow-400;
$ui-color-danger: $ui-orange-500;

// Text
$ui-text-primary: $ui-neutral-950;
$ui-text-secondary: $ui-neutral-600;
$ui-text-muted: $ui-neutral-400;

// Background / Border
$ui-bg-default: $ui-neutral-50;
$ui-bg-subtle: $ui-neutral-100;
$ui-border-default: $ui-neutral-200;


// breakpoints 視覺分段點-mobile/pad/desktop/desktop-xl
$breakpoints: (
  mobile: 0,
  pad: 576px,
  desktop: 992px,
  desktop-xl: 1200px,
);