$ui-primary: #2F6382;
$ui-primary-500: #85BDDE;
$ui-primary-200: #C9E9F4;
$ui-primary-yellow: #FEC631;
$ui-primary-orange: #F59004;


// Neutral（灰階）
$ui-neutral-950: #0a0a0a;
$ui-neutral-800: #262626;
$ui-neutral-600: #525252;
$ui-neutral-500: #777777;
$ui-neutral-400: #a3a3a3;
$ui-neutral-200: #e5e5e5;
$ui-neutral-100: #f0f0f0;
$ui-neutral-50:  #ffffff;

// Primary（品牌藍）
$ui-blue-700: #1f63b2;
$ui-blue-500: #5b8dde;
$ui-blue-200: #c9d9f4;

// Accent
$ui-yellow-400: #fecb31;
$ui-orange-500: #ff9c04;