.ui-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  font-weight: 600;
  line-height: 1.2;

  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;

  transition: background-color 0.2s ease,
              border-color 0.2s ease,
              color 0.2s ease;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.ui-btn-sm {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
}

// .ui-btn {
//   /* default size */
//   padding: 0.5rem 1rem;
//   font-size: 1rem;
// }

.ui-btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
}



.ui-btn-primary {
  background-color: $ui-primary;
  color: #fff;

  &:hover {
    background-color: darken($ui-primary, 8%);
  }
}


.ui-btn-primary500 {
  background-color: $ui-primary-500;
  color: #fff;

  &:hover {
    background-color: darken($ui-primary-500, 8%);
  }
}

.ui-btn-primary200 {
  background-color: $ui-primary-200;
  color: #fff;

  &:hover {
    background-color: darken($ui-primary, 8%);
  }
}


.ui-btn-primary-orange{
  background-color: $ui-primary-yellow;
  color: #fff;

  &:hover {
    background-color: darken($ui-primary, 8%);
  }
}


.ui-btn-primary-orange {
  background-color: $ui-primary-orange;
  color: #fff;

  &:hover {
    background-color: darken($ui-primary, 8%);
  }
}
