@use '../helpers/variables' as *;

.ui-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: 53px;        // 高度可以暫時 px（來自設計稿且一般大小和lg版高度一致都是含字體=53px）
  padding: 0.5rem 3rem;   // 8px / 48px → rem 轉換
  gap: 0.5rem;

  border-radius: 0.5rem;  // 8px → rem

  font-family: "Chiron GoRound TC", sans-serif;
  font-size: 1rem;        // ✔ 16px
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;

  border: 1px solid transparent;
  cursor: pointer;
}

//因為設計稿沒有提供 sm 大小的按鈕，所以暫時不做這個尺寸(提供bootstarp尺寸參考)
// .ui-btn-sm {
//   padding: 0.375rem 0.75rem;
//   font-size: 0.875rem;
// }

.ui-btn-lg {
  min-height: 53px;        // 對齊設計稿高度
  padding: 0.5rem 3rem;   // 8px 48px
  font-size: 1rem;        // 16px（跟 base 一樣）
  min-width: 12.5rem;     // 200px
}

.ui-btn-default {
  background-color: $ui-text-muted;
  color: $ui-bg-default;

  &:hover {
    background-color: darken($ui-text-secondary, 8%);
  }
}

.ui-btn-primary {
  background-color: $ui-color-primary;
  color: $ui-neutral-800;

  &:hover {
    background-color: $ui-color-primary-hover;
    color: $ui-bg-default;
  }
}

//因為設計稿沒有提供 secondary 按鈕(但是在select有類似的設計)，所以這個參考樣式先留著以備未來使用
// .ui-btn-secondary {
//   background-color: $ui-bg-default;
//   color: $ui-neutral-800;

//   &:hover {
//     background-color: darken($ui-color-secondary, 8%);
//   }
// }

.ui-btn-warning {
  background-color:  $ui-color-warning;
  color: $ui-text-primary;

  &:hover {
    background-color: darken($ui-color-danger, 8%);
  }
}

//因為設計稿沒有提供 danger 按鈕(包括danger:hover色系)，所以這個參考樣式先留著以備未來使用
// .ui-btn-danger {
//   background-color:  $ui-color-danger;
//   color: $ui-text-primary;

//   &:hover {
//     background-color: darken($ui-color-danger, 8%);
//   }
// }





