@use '../helpers/variables' as *;
// .ui-nav {
//   display: flex;
//   gap: 0.5rem;
// }

// .ui-nav__item {
//   display: inline-flex;
//   align-items: center;
//   gap: 0.5rem;

//   padding: 0.25rem 1rem;   // 4px 16px
//   border-radius: 999px;    // pill
//   color: $ui-text-primary;

//   cursor: pointer;

//   &:hover,
//   &.is-active {
//     background-color: $ui-blue-200;
//   }
// }


/* =========================
  Navigation (Header Nav)
========================= */

.ui-nav {
  display: flex;
  align-items: center;
  gap: 0.5rem; // 8px
}

.ui-nav__item {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem; // icon + text

  padding: 0.25rem 1rem; // 4px 16px
  border-radius: 999px;  // pill

  color: $ui-text-primary;
  text-decoration: none;
  white-space: nowrap;

  cursor: pointer;
  transition: background-color 0.2s ease;

  /* hover = active */
  &:hover,
  &.is-active {
    background-color: $ui-blue-200;
  }

  /* icon */
  i,
  svg {
    font-size: 1rem;
    line-height: 1;
  }
}
