@use '../helpers/variables' as *;

.ui-select {
  position: relative;
  display: inline-block;
}

.ui-select-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 12px;
  border-radius: 999px;
  background-color: $ui-bg-default;
  border: 1px solid $ui-border-default;
  color: $ui-text-primary;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $ui-color-secondary;
  }
}

.ui-select-menu {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  z-index: 10;

  background-color: $ui-bg-default;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.ui-select-option {
  padding: 8px 12px;
  cursor: pointer;

  &:hover {
    background-color: $ui-bg-subtle;
  }

  &.is-selected {
    font-weight: 600;
  }
}
