// base/_base.scss 與 reset.scss 合併而成，
// 小專案可以不用特意reset.scss，只用這個_base.scss 就好
@use '../helpers/variables' as *;

/* === 最小 reset 區 === */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

/* === 專案 base 區（你的世界觀） === */

// body {
//   font-family: $font-base;
//   line-height: 1.6;
//   color: $text-primary;
//   background-color: $bg-body;
// }

// h1, h2, h3, h4, h5, h6 {
//   font-weight: 600;
//   margin: 0;
// }

// p {
//   margin: 0;
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }