// 設計系統用容器
.ui-container {
  max-width: 1296px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.ui-container-lg {
  max-width: 1840px;
  margin: 0 auto;
}

.ui-container-full {
  max-width: 1920px;
  margin: 0 auto;
}