// _header.scss
@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;
@use '../components/dropdown-skin' as *;

.header {
  position: relative;
  // ===== Header Layout（只負責排版）=====
  .navbar {
    min-height: 72px;
    padding: 0;

    @include respond(desktop) {
      border-radius: 0px;
      min-height: 156px;
    }
  }

  .navbar-nav {
    border-radius: 0 0 16px 16px;
    gap: 8px;

    @include respond(desktop) {
      min-height: 32px;
    }
  }

  .navbar-brand {
    margin-top: 18.5px;
    margin-bottom: 18.5px;
    margin-left:  12px;
    padding: 0px;

    img {
      max-width: 100px;
      max-height: 35px;
    }
    
    @include respond(desktop) {
      margin-top: 64px;
      margin-bottom: 40px;
      margin-left:  0px;

      img {
        max-width: 180px;
        max-height: 52px;
      }
    }
  }

  .navbar-toggler{ 
    position: relative;
    max-width: 40px;
    max-height: 40px;
    margin-right: 16px;
    padding: 8px;
    
    .hamburger {  // hamburger 預設顯示
      display: inline-block !important;
    }
    .close-icon { // 強制初始隱藏 close-icon
      display: none !important;
    }

      // 當 navbar 展開時（非 collapsed 狀態）
    &:not(.collapsed) {
      .hamburger {
        display: none !important;
      }
      .close-icon {
        display: inline-block !important;
      }
    }

    @include respond(desktop) {
      display: none;
      margin-right: 0px;
    }
  }

  .navbar-collapse { //「實際形成 mobile menu 面板的，是 .navbar-collapse，不是 <ul>」，所以這邊設定menu面板的樣式
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1050;
    background-color: $ui-bg-default;
    border-radius: 0px 0px 16px 16px;
    // background-color: rgba($ui-color-danger, 0.3);

    @include respond(desktop) {
      position: static;
      top: auto;
      left: auto;
      width: auto;
      z-index: auto;

      border-radius: 0px;
    }
  }

  .nav-backdrop {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1040;
    display: none;
    pointer-events: auto; // 保證會吃點擊
  }


  // 只在 mobile + 展開時生效
  .navbar-collapse.show ~ .nav-backdrop {
    display: block;
  }

  // desktop 強制不顯示（保險）
  @include respond(desktop) {
    .nav-backdrop {
      display: none !important;
    }
  }

}

.header:has(.navbar-collapse.show) .nav-backdrop {
  display: block;
}

.ui-nav {
  display: flex;
  margin-bottom: 24px;
  gap: 8px;

  @include respond(desktop) {
    //ms-auto align-items-lg-center gap-lg-2
    margin-left: auto;  // 等同 ms-auto
    display: flex;
    // flex-direction: row;        // 預設 row，可省略
    align-items: center;
    gap: 8px;
  }
}

// ===== UI Component: Nav Item =====
.ui-nav-item {
  margin-left: 16px;
  padding: 0px 16px;
  gap: 8px;

  @include respond(desktop) {
    margin-left: 0px;
  }

  // Nav Link（所有導覽文字風格）
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    border-radius: 0px;
    
    font-family: "Chiron GoRound TC", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: $ui-neutral-800;

    @include respond(desktop) {
      justify-content: center;
      border-radius: 40px;
      min-width: 81px;

      &:hover {
        background-color: $ui-color-secondary;
        // color: $ui-color-primary;
      }
    }
  }

  // 關掉 Bootstrap 預設箭頭（如果你要）
  .dropdown-toggle::after {
    display: none;
  }

  // Dropdown Menu 外框
  .dropdown-menu {
    left: 0;
    // transform: translateX(-50%);
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    padding: 8px;
    min-width: 224px;

    @include respond(desktop) {
      left: 50%;
      transform: translateX(-50%);
      border-radius: 8px;
      box-shadow: 0 8px 20px rgba(0,0,0,.08);
      padding: 8px;
      min-width: 97px;
    }
  }

  // Dropdown Item 文字樣式
  .dropdown-item {
    @extend %ui-dropdown-item-base;
  }
}