// _hero.scss：專門負責 Hero / Page Banner 結構

@use '../helpers/variables' as *;

.ui-hero {
  position: relative;
}

// __ 代表 Element (元素) __bg 和 __container 是ui-hero組件內部的零件。
.ui-hero__bg {
  margin: 0 auto;
}

.ui-hero__container {
  margin: 0 auto;
}

// -- 代表 Modifier (修飾符) --home 和 --search 是ui-hero組件的變體（版本）。
.ui-hero--home {
  min-height: 560px;
}

.ui-hero--search {
  min-height: 240px;
}


/* 裝飾層 */
.ui-subHero {
  position: relative;
  background-color: $ui-color-secondary;
  border-radius: 24px;
  overflow: hidden; /* 逼免止浮水印超勒邊界 */

  min-height: 296px;
  padding-top: 72px;
}

/* 浮水印文字 */
.ui-subHero::after {
  /* 關鍵：讓內容直接讀取 HTML 上的 data-watermark */
  content: attr(data-watermark);

  position: absolute; /* 讓它對齊 1296px 內容區的右側 */
  right: calc((75% - 1296px) / 2); 
  bottom: -20px; /* 稍微往下掉一點 */
  // right: 48px;
  // bottom: 24px;


  // color: $ui-color-primary; /* 晚點補上淡淡、透明感的感覺 */
  font-size: 128px;
  font-weight: 700;
  color: rgba($ui-blue-500, 0.08); // 關鍵在 0.06 ~ 0.1
  line-height: 100%;
  letter-spacing: 2%;
  white-space: nowrap;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  filter: blur(0.5px);
}

.ui-subHero__content {
  gap: 8px;
  min-height: 96px;

  h1 {
    color: $ui-neutral-800;
    font-family: "Chiron GoRound TC", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 2%;
  }

  p {
    color: $ui-neutral-800;
    font-family: "Chiron GoRound TC", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;  
    letter-spacing: 5%;
  }
}

.ui-subHero__aside {
  background: $ui-bg-default;
  gap: 10px;
  border-radius: 12px;
  min-width: 512px;
  min-height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;

  p, a {
    color: $ui-nav-link-active;
    font-family: "Chiron GoRound TC", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;  
    letter-spacing: 0.05em;
    transition: color 0.15s ease, transform 0.1s ease;   // 加上這行，變化才會順滑

    &:hover {
      color: $ui-nav-link-hover;            // 例如藍色 $sui-blue-500
      // text-decoration: underline;         // 可選：很多設計會在 hover 加底線
      // 或 cursor: pointer;                 // 如果想要更像連結感
    }

    &:active {
      color: $ui-nav-link-active;           // 通常更深，例如 $sui-blue-700
      transform: translateY(1px);           // 輕微下沉，模擬按下去
    }
  }

}





/* 麵包屑容器 */
.ui-subHero__breadcrumb {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px; // 半貼出來

  .ui-breadcrumb {
    min-width: 306px;
    min-height: 56px;
    display: inline-block;
    background: $ui-neutral-50;
    padding: 24px 24px 8px 24px;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 -1px 0 rgba(0,0,0,.06);

    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: none;

    a {
      color: $ui-nav-link;
      text-decoration: none;
      
      &:hover {
        color: $ui-nav-link-hover;
      }
    }

    &__current {
      color: $ui-nav-link-active;

      &:hover {
        color: $ui-nav-link-hover;
      }
    }

    i, svg {
      width: 16px;
      height: 16px;
      stroke-width: 2;
      color: $ui-text-muted;
      vertical-align: middle;
    }
  }

  
  
}