// _layout.scss：所有共用版面骨架 像 ui-container, ui-section

@use '../helpers/variables' as *;

// ui-container 系列 依照畫面切割看來，主要有三種寬度：1296px / 1840px / 1920px
// 大致上為main/header/footer(.ui-layout 1920px) => section(.ui-section 1840px) => content( .ui-container 1296px)

// ui-layout為 main/header/footer 共用版型  1920px
.ui-layout {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px;
}
// 共用 section 版型 預設1840px
.ui-section {
  max-width: 1840px;
  margin: 0 auto;
  border-radius: 40px;
}

// section 的內容區域 1296px
.ui-container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0px;
}

// 範例： section 背景色系變體寫法
.ui-section--light { 
  background: $ui-bg-default; 
}

.ui-section--yellow { 
  background: $ui-color-warning 
}

.ui-section--info {
  background: $ui-color-primary;
}




