@use "bootstrap/scss/bootstrap" as *;

// @use './helpers/variables';
@use "./helpers/variables" as *;
// @use './helpers/mixins';

// 多人協作reset 由框架組維護，base 由設計組維護
// @use './base/reset'; // 已合併到 base.scss，保留作為參考
@use './base/base';

// @use './layout/ui-layout';
@use './layout/header';
// @use './layout/footer';

@use './components/buttons';
@use './components/carousel';
@use './components/pagination';
@use './components/form';
@use './components/checkbox';
@use './components/dropdown-skin';
// @use './components/cards';

// @use './pages/index';



