@use "bootstrap/scss/bootstrap" as *;

// @use './helpers/variables';
@use "./helpers/variables" as *;
// @use './helpers/mixins';

// @use './base/reset';
// @use './base/base';

// @use './layout/header';
// @use './layout/footer';

@use './components/buttons';
@use './components/select';
@use './components/form';
// @use './components/cards';

// @use './pages/index';



